{% extends "AppBundle:Layout:layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default">
            <h1 class="box-header">
                Mensajería privada
            </h1>
            <div class="col-lg-6">

                <a href="{{ path('private_message_index') }}" class="btn btn-warning">Ver mensajes recibidos</a>
            </div>

            <div class="col-lg-6">
                <h4>Ver Mensajes Enviados</h4>
                <hr/>
                <div class="box_content box-messages">
                    {% include '@App/Partials/detalle_mensaje.html.twig' %}                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}